@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root{
    --color01: #571845;
    --color02: #900C3E;
    --color03: #C70039;
    --color04: #FFC300;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

    h1{
        font-weight: 700;
        font-size: 3.5rem;
    }

    h2{
        font-weight: 400;
        font-size: 2.8rem;
    }

    p,
    a{
        font-weight: 300;
        font-size: 1.8rem;
    }

.btn-prefix{
    padding: 1.2rem 2rem;
    border-radius: 20rem;
    border: 0.3rem transparent solid;
    transition: scale 0.3s;
    display: flex;
    align-items: center;
}

    .btn-prefix:hover{
        scale: 1.12;
    }

/* Header */
    .hero{
        height: 45rem;
        padding: 2% 5%;
        background-color: #571845;
    }
        .hero-container{
            max-width: 140rem;
            margin: 0 auto;
        }

                    .hero h1,
                    .hero p,
                    .hero a{
                        color: white;
                        text-decoration: none;
                    }

                    .hero .btn-primary{
                        background-color: var(--color04);
                        color: black;
                        font-weight: 700;
                    }

        .hero__nav{
            display: flex;
            justify-content: space-between;
        }

            .nav__p1{
                display: flex;
                justify-content: space-between;
                gap: 2rem;
                flex-wrap: wrap;
            }

        .hero__title{
            margin-top: 3%;
        }

            .title__p1,
            .title__p2{
                font-weight: 400;
                font-size: 4rem;
            }

                .title__p2-bold{
                    font-weight: 700;
                }

        .hero__btns{
            margin-top: 1.5%;
            display: flex;
            gap: 3rem;
        }
            .btns__join{
                padding: 1.2rem 5rem;
            }

            .btns__view{
                padding: 1.2rem 3rem;
                background-color: #ffffff7a;
                border: 0.3rem white solid;
                transition: all 0.3s;
                font-weight: 700;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
            }

                .btns__view:hover{
                    background-color: #ffffff9c;
                }

                .view__icon{
                    width: 2.5rem;
                    height: 2.5rem;
                    transform: 0.3s;
                }

.imain{
    max-width: 140rem;
    margin: 4rem auto;
}