@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Globals */
:root{
    --primary-color: #900C3E;
    --secondary-color: #571845;
    --btn-prim: #FCA311;
    --dark-color: #14213D;
    --black-st: #14213d80;
    --white-st: #ffffff80;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    z-index: 1;
}
body{
    font-family: 'Rethink Sans', sans-serif;
    font-size: 1.6rem;
    background-color: black;
}

h1{
    font-weight: 700;
}
h2,
legend{
    font-weight: 600;
    font-size: 2.6rem;
}
h3{
    font-weight: 500;
    font-size: 2rem;
}

p{
    font-weight: 400;
    font-size: 1.6rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

h1,
h2,
h3,
h4,
p,
label,
legend{
    color: white;
}
/* Utility */
.wrapblock{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 6%;
}
.separator{
    width: 100%;
    height: 0.1rem;
    background-color: white;
}

.black-text{
    color: black;
}

.circular-button-prefix{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
}

.mid-large-button-prefix{
    width: 15rem;
    padding: 0.8rem 2rem;
    background-color: var(--white-st);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem white solid;
    border-radius: 1.6rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.4s;
}
    .mid-large-button-prefix:hover{
        background-color: var(--btn-prim);
        border: 0.2rem var(--btn-prim) solid;
        color: black;
    }
        .inversehover{
            background-color: var(--btn-prim);
            border: 0.2rem var(--btn-prim) solid;
            color: black;
        }
            .inversehover:hover{
                background-color: var(--white-st);
                border: 0.2rem white solid;
                color: white;
            }
/* Navigation */
.navigation{
    width: 100%;
    padding: 5rem 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
}
    .nav__index{
        width: 4rem;
        height: 4rem;
    }
        .nav__index img{
            width: 100%;
            height: 100%;
        }
    .nav__burgermenu{
        display: block;
        width: 4rem;
        height: 4rem;
        position: relative;
        transition: 0.3s ease;
    }
            .nav__burgermenu::before,
            .nav__burgermenu::after{
                content: '';
                background-color: white;
                width: 100%;
                height: 0.5rem;
                position: absolute;
                transition: 0.3s ease;
                border-radius: 1rem;
            }

            .nav__burgermenu::before{
                top: 0;
            }

            .nav__burgermenu::after{
                bottom: 0;
            }
        .nav__burgermenu span{
            background-color: white;
            position: absolute;
            width: 100%;
            height: 0.5rem;
            top: 1.7rem;
            border-radius: 1rem;
            transition: 0.3s ease;
        }
        .nav__list{
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
            list-style: none;
            transition: 0.3s ease;
            scale: 0.5;
        }
            .list__item{
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease;
            }
        .nav__list.active{
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            padding: 5rem 6%;
            right: 6%;
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 5vh;
            background-color: var(--dark-color);
            opacity: 1;
            transition: 0.3s ease;
            scale: 1;
        }
            .nav__list.active .list__item{
                width: 100%;
                height: 6rem;
                color: white;
                transition: 0.3s ease;
            }
        .nav__burgermenu.active{
            z-index: 3;
            transition: 0.3s ease;
        }
            .nav__burgermenu.active::before{
                transform: rotate(45deg);
                transition: 0.3s;
                top: 1.75rem;
            }
            .nav__burgermenu.active::after{
                transform: rotate(-45deg);
                transition: 0.3s;
                bottom: 1.75rem;
            }
            .nav__burgermenu.active span{
                transform: rotate(-45deg);
                transition: 0.3s;
                opacity: 0;
            }

/* Header */
.header{
    width: 100%;
    /*
    background: rgb(144,12,62);
    background: linear-gradient(90deg, rgba(144,12,62,1) 22%, rgba(87,24,69,1) 74%, rgba(2,0,36,1) 100%);
    */
    background-image: url(/imgs/bgimg-1.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 6% 6%;
    display: flex;
    flex-direction: column;
}
    .header__title{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
        /* GLITCH EFFECT */
        .stack {
            display: grid;
            grid-template-columns: 1fr;
        }
          
            .stack span {
                font-size: 8rem;
                font-weight: 800;
                grid-row-start: 1;
                grid-column-start: 1;
                --stack-height: calc(100% / var(--stacks) - 1px);
                --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
                --clip-top: calc(var(--stack-height) * var(--index));
                --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
                clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
                animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
            }
          
            .stack span:nth-child(odd){ 
                --glitch-translate: 8px; 
            }
            .stack span:nth-child(even){
                --glitch-translate: -8px;
            }
            
                @keyframes stack {
                    0% {
                    opacity: 0;
                    transform: translateX(-50%);
                    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
                    };
                    60% {
                    opacity: 0.5;
                    transform: translateX(50%);
                    }
                    80% {
                    transform: none;
                    opacity: 1;
                    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
                    }
                    100% {
                    text-shadow: none;
                    }
                }
                
                @keyframes glitch {
                    0% {
                    text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
                    transform: translate(var(--glitch-translate));
                    }
                    2% {
                    text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
                    }
                    4%, 100% {  text-shadow: none; transform: none; }
                }

/* HEADER CARDS */    
    .header__cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
        .headercards__card{
            background-color: var(--black-st);
            backdrop-filter: blur(0.8rem);
            padding: 2rem;
            border-radius: 1.6rem;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
            .headercards__card a{
                align-self: flex-end;
            }
.platform{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: white;
    position: relative;
}
    .platform__info{
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
    }
        .platform__title{
            color: var(--dark-color);
        }
            .platform__title span{
                font-weight: 800;
                font-size: 5rem;
            }
    .platform__processes{
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        gap: 2rem;
    }
        .process{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
            box-shadow: 7px 6px 15px -2px rgba(0,0,0,0.29);
            -webkit-box-shadow: 7px 6px 15px -2px rgba(0,0,0,0.29);
            -moz-box-shadow: 7px 6px 15px -2px rgba(0,0,0,0.29);
            padding: 1.6rem;
            border-radius: 1.6rem;
        }
            .process__titlecont{
                display: flex;
                gap: 1.6rem;
                align-items: center;
            }
                .titlecont__num{
                    width: 3rem;
                    height: 3rem;
                    background-color: var(--primary-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: white;
                    font-weight: 800;
                }
    .platform__discord{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
        .discord__info{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.8rem;
        }
            .discord__info h2{
                color: var(--dark-color);
            }
        .discord__imgwrapper{
            position: relative;
            width: 100%;
        }
            .discord__imgwrapper object{
                max-width: 100%;
            }
            .discord__imgwrapper object:nth-child(2){
                max-width: 50%;
                position: absolute;
                top: 1;
                left: 1;
                bottom: 0;
                right: 0;
                margin: auto;
                animation: discordanim 2s alternate ease-in-out infinite;
                rotate: 5deg;
            }
            @keyframes discordanim {
                0%{
                    transform: translateY(2rem);
                }
                100%{
                    transform: translateY(0);
                    opacity: 0.9;
                }
            }

/* FORM SECTION*/
.formsect{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/imgs/pexels-kevin-ku-577585.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    .formcont{
        backdrop-filter: blur(0.8rem);
        padding: 6%;
        width: 75vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 1.6rem;
        gap: 2.4rem;
    }
        .formcont legend{
            align-self: flex-start;
        }
        .formcont button{
            width: 75%;
        }
        .form__sections{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
        }
            .form__section{
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
                .form__section input{
                    padding: 0.8rem;
                    border-radius: 1.6rem;
                }
            .form__othersect{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
            }
                .othersect__btns{
                    display: flex;
                    gap: 2rem;
                }
                .othersect__btn{
                    max-width: 4.8rem;
                    max-height: 4.8rem;
                }
                @media (min-width:768px){
                    .header__cards{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                    }

                    .headercards__card{
                        width: 33.3%;
                    }

                    .platform__processes{
                        grid-template-rows: repeat(3, 1fr);
                        grid-template-columns: 1fr 1fr;
                        
                    }
                        .process:nth-child(5){
                            grid-column: 1 / 3;
                        }
                    .form__sections{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                    }
                        .form__section:nth-child(1),
                        .form__section:nth-child(2){
                            grid-column: 1 / 3;
                        }
                }